form(method="post" action="/edited")
    table 
        tr 
            td telephone 
            td 
                input(type="text" name="telephone")
        tr 
            td
            td
                input(type="submit" value="valider")