nav.site-header.sticky-top.py-1(style='background-color: black;')
  .container.d-flex.flex-column.flex-md-row.justify-content-between
    a.py-2(href='#', aria-label='Product')
    text.humanit(style="margin-right: 400px;color : aliceblue") HUMANIT'AIDE
      svg.d-block.mx-auto(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', role='img', viewBox='0 0 24 24', focusable='false')
        title Product
        circle(cx='12', cy='12', r='10')
        path(d='M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94')
       

  div
link(href='https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap', rel='stylesheet')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
link(href='https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap', rel='stylesheet')